.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 80px;
  margin-bottom: 4px;
  position: fixed;
  top: 0;
  left: 5;
  width: 99%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  margin-top: 8px;
}

.logo {
  height: 80px;
  border-radius: 10px;
}

.navItems > ul {
  font-size: 20px !important;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navItems > ul > li {
  margin: 10px;
  padding: 10px;
  padding-left: 0px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.search {
  margin: 8px 0px;
  display: flex;
}

.search > input {
  width: 200px;
}

.search-btn {
  cursor: pointer;
  margin: 0px 4px;
  background-color: #fff;
  color: #ff4d4d;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid #ff4d4d;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #fff;
  color: #ff3333;
}

.res-card {
  width: 250px;
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.3s ease-in-out;
}

.res-card:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.12);
}

.res-logo {
  height: 150px;
  border-radius: 10px;
  width: 100%;
}

h2,
h4,
h5 {
  margin-top: 0px !important;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info {
  padding: 8px;
}

.menu {
  margin-top: 90px;
}

.ratingEta {
  display: flex;
  align-items: center;
}

.slaCss {
  padding-left: 28px;
}

.filter-btn {
  cursor: pointer;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #ff3333;
}

.shimmer-card-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-container {
  margin-top: 90px;
}

.shimmer-card {
  margin: 10px;
  height: 370px;
  width: 245px;
  border-radius: 10px;
  background-color: lightgray;
}

.search-shimmer {
  margin: 10px;
  height: 40px;
  width: 500px;
  border-radius: 5px;
  background-color: lightgray;
}

.btnLoginLogout {
  height: 40px;
  width: 100px;
  margin: 0 20px 0 0;
  cursor: pointer;
  background-color: #fff;
  color: gray;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btnLoginLogout:hover {
  background-color: #fff;
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
}

.empty-container {
  display: grid;
  justify-content: center;
  color: #282c3f;
  font-weight: 600;
  margin-top: 90px;
}

.empty-container span {
  display: flex;
  justify-content: center;
}

.res-info-design {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  margin-top: 90px;
}

.res-img-card {
  position: relative;
}

.discount-header {
  color: #fff;
  background-color: #00000099;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
